<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
  xmlns:gap = "http://phonegap.com/ns/1.0"
  id    = "com.clarkeology.keyboard-monkey"
  version   = "0.0.1">

  <name>Keyboard Monkey</name>

  <description>
    A game for Harry
  </description>

  <author href="http://www.clarkeology.com/blog/"
    email="pauly@clarkeology.com">
    Paul Clarke
  </author>

  <icon src="icon.png" gap:role="default" />

  <feature name="http://api.phonegap.com/1.0/network"/>

  <preference name="orientation" value="portrait" />
</widget>
